/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

body {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-align: center;      padding: 50px 20px;
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: 55px;
}

hgroup {
  margin-bottom: 40px;
}

a {
  color: #777;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  line-height: 2;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  
/*****************************************************************************/
/*
/* Pages
/*
/*****************************************************************************/

#page {

}

  /* standard */

  #page pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #page ul,
  #page ol {
    margin-left: 1.35em;
  }

  #page code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #page pre code {
      border: none;
    }

  /* terminal */

  #page pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #page pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }